/* Reset CSS */

/* Selector universal para aplicar estilos a todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corregir estilos para los elementos de lista */
ul, ol {
    list-style: none;
}

/* Establecer estilos básicos para los elementos de texto */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Establacer estilos básicos para los enlaces */
a {
    text-decoration: none; /* Eliminar la subrayado predeterminado de los enlaces */
    color: inherit; /* Heredar el color del texto del elemento padre */
}

/* Establecer estilos básicos para las imágenes */
img {
    max-width: 100%; /* Hacer que las imágenes sean responsivas dentro de su contenedor*/
    height: auto;
}

/* Puedes agregar más estilos según tus necesidades */